@font-face {
    font-family: "li3ib-normal";
    font-style: normal;
    font-weight: normal;
    src: url("../fontkit/BreuerText/BreuerText.woff") format("woff");
}

@font-face {
    font-family: "li3ib-bold";
    font-style: normal;
    font-weight: bold;
    src: url("../fontkit/BreuerText/BreuerText-Bold.woff") format("woff");
}