// sports
.ic{
    display: block;
    width: 35px;
    height: 35px;
}

.ic-sport-1 {
    background: transparent url('../../assets/sports/football.svg') center/contain no-repeat padding-box;
}

.ic-sport-5 {
    background: transparent url('../../assets/sports/futsal.svg') center/contain no-repeat padding-box;
}

.ic-sport-7 {
    background: transparent url('../../assets/sports/volleyball.svg') center/contain no-repeat padding-box;
}

.ic-sport-6 {
    background: transparent url('../../assets/sports/basketball.svg') center/contain no-repeat padding-box;
}

.ic-sport-8 {
    background: transparent url('../../assets/sports/tennis.svg') center/contain no-repeat padding-box;
}

.ic-sport-11 {
    background: transparent url('../../assets/sports/squash.svg') center/contain no-repeat padding-box;
}

.ic-sport-9 {
    background: transparent url('../../assets/sports/handball.svg') center/contain no-repeat padding-box;
}

.ic-sport-2 {
    background: transparent url('../../assets/sports/shooting.svg') center/contain no-repeat padding-box;
}

.ic-sport-3 {
    background: transparent url('../../assets/sports/archery.svg') center/contain no-repeat padding-box;
}

.ic-sport-4 {
    background: transparent url('../../assets/sports/archery-tag.svg') center/contain no-repeat padding-box;
}

.ic-sport-10 {
    background: transparent url('../../assets/sports/bowling.svg') center/contain no-repeat padding-box;
}

.ic-sport-13 {
    background: transparent url('../../assets/sports/biking.svg') center/contain no-repeat padding-box;
}

.ic-sport-14 {
    background: transparent url('../../assets/sports/pedal.svg') center/contain no-repeat padding-box;
}

.ic-sport-15 {
    background: transparent url('../../assets/sports/tennis.svg') center/contain no-repeat padding-box;
}

.ic-sport-16 {
    background: transparent url('../../assets/sports/gym.svg') center/contain no-repeat padding-box;
}


